body, h1, h2, p {
    margin: 0;
    padding: 0;
    width: auto;
}

/* Basic styling */
body {
    font-family: Arial, sans-serif;
    
    margin: 0;
    height: 100vh;
    width: 100%;
    padding: 0;
    background: url('../frontend/images/gradient\ 1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

html{
    overflow: hidden;
}

section{
    backdrop-filter: blur(19px) saturate(151%);
    -webkit-backdrop-filter: blur(19px) saturate(151%);
    background-color: rgba(198, 198, 217, 0.74);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

header {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
}

header h1 {
    font-size: 2rem;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
}

.audio-controls, .transcription {
   
    padding: 1rem;
    margin-bottom: 1rem;
    
}
.audio-controls{
    display: flex;
    flex-direction: column;
    padding: 40px ;
    gap: 1em;
}
.audio-controls h2, .transcription h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.transcription-output {
    border: 1px solid #ddd;
    padding: 1rem;
    min-height: 100px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 0.5rem;position: absolute;
    bottom: 0%;
    width: 100%;
}



button{
    padding: 10px 15px;
    outline: none;
    border-radius: 2px;
    font-size: 0.9em;
    background-color: #333;
    color: aliceblue;
    border: none;
    transition: all 0.3 ease;
    cursor: pointer;

}

button:hover{
    background-color: #484848;
}

input[type="file"]{
    display: none;
}
.file{
    background-color: aliceblue;
    padding: 10px 15px;
    font-size: 0.9em;
    cursor: pointer;
    border-radius: 2px;

}
label i{
    margin-right: 6px;
}